@import '../../../styles.scss';

.holder{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    .window{
      width: 550px;
      height: 600px;
      display: flex;
      flex-flow: column wrap;
      align-self: center;
      justify-content: space-around;
      align-items: center;
      border: 2px solid $orange-border !important;
      border-radius: 20px !important;
      background: $dark-blue-header;
      h1 {
        color: $white;
        font-family: 'Cabin Sketch', cursive !important;
        font-size: 3rem;
      }
      form {
        display: flex;
        flex-flow: column wrap;

        .form-group{
            display: flex;
            justify-content: space-between;
        }

        #metadata{
            width: 220px;
            color: $white;
        }

        #images{
            width: 220px;
            color: $white;
        }

        button{
          outline: 0;
        }
      }
    }
  }
