<div class="page">
  <h1>Model</h1>
  
  <form [formGroup]="trainingForm" (ngSubmit)="trainModel()">
    <div class="my-form-control">
      <label>Activation function  &nbsp;</label>
      <app-select 
        [data]="activationFunctions"
        [selected]="activationFunctions[0]"
        (selectedValue)="onActivationFunctionPick($event)">
      </app-select>
    </div>
    <div class="my-form-control">
      <label>Use cross validation &nbsp;</label>
      <input type="checkbox" formControlName="useCrossValidation">
    </div>
    <div class="my-form-control">
      <label for="dataset">Training Dataset &nbsp;</label>
      <app-select
      id="dataset" 
      [data]="activationFunctions"
      [selected]="activationFunctions[0]"
      (selectedValue)="onDatasetPick($event)">
      </app-select>
    </div>
    <div class="my-form-control">
      <label>Model &nbsp;</label>
      <app-select 
      [data]="activationFunctions"
      [selected]="activationFunctions[0]"
      (selectedValue)="onModelPick($event)">
      </app-select>    
    </div>
    <button class="btn btn-success" type="submit">Train model</button>
  </form>
</div>
