<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <p routerLink="/predict" routerLinkActive="active" class="nav-link">Predict</p>
      </li>
      <li class="nav-item">
        <p routerLink="/model" routerLinkActive="active" class="nav-link">Training session</p>
      </li>
      <li class="nav-item">
        <p routerLink="/testing-session" routerLinkActive="active" class="nav-link">Testing session</p>
      </li>
      <li class="nav-item dropdown">
        <p 
          href="#"
          class="nav-link dropdown-toggle"
          id="dataset-dropdown" 
          role="button" 
          data-toggle="dropdown" 
          aria-haspopup="true" 
          aria-expanded="false">
          Dataset
      </p>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <p routerLink="/dataset/show" routerLinkActive="active" class="dropdown-item">Dataset preview</p>
          <p routerLink="/dataset/data" routerLinkActive="active" class="dropdown-item">Dataset</p>
        </div>
      </li>
      <li class="nav-item dropdown">
        <p 
          href="#"
          class="nav-link dropdown-toggle"
          id="model-dropdown"
          role="button" 
          data-toggle="dropdown" 
          aria-haspopup="true" 
          aria-expanded="false">
          Model
      </p>
        <div class="dropdown-menu" aria-labelledby="model-dropdown">
          <p routerLink="/model" routerLinkActive="active" class="dropdown-item">Show model</p>
          <p href="#" class="dropdown-item">Show model parameters</p>
        </div>
      </li>
      <li class="nav-item">
          <p routerLink="/about" routerLinkActive="active" class="nav-link">About</p>
      </li>
    </ul>
  </div>
</nav>
