<div class="ack-webcam-wrapper">
  <div class="camera-wrapper">
    <ack-webcam *ngIf="!image"
      [options] = "options"
      (success) = "onCamSuccess($event)"
      (catch)   = "onCamError($event)">
    </ack-webcam>
    <image-cropper class="image-cropper" *ngIf="image"
      [imageBase64]="image"
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="imageWidth / imageHeight"
      [resizeToWidth]="imageWidth"
      format="png"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
      (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()">
    </image-cropper>
    <div *ngIf="croppedImage" class="cropp">
      <img [src]="croppedImage" />
    </div>
  </div>
</div>