.ack-webcam-wrapper{
    display: flex;
    flex-flow: column wrap;
    flex: 1;
    justify-self: stretch;
    align-self: stretch;

    .camera-wrapper{
        display: flex;
        flex-flow: row wrap;
        flex: 1;
        justify-content: space-around;

        .image-cropper {
            max-width: 250px;
            height: auto;
        }

        .cropp {
            padding: 15px;
        }
    }
}