<div class="holder">
    <div class="network-picker">
        <h2>{{title}}</h2>
        <div class="network-option-wrapper">
            <form [formGroup]="form">
                <mat-card *ngFor="let model of models; let i = index" [ngClass]="{'selected': selected === i}" class="card" (click)="select(i)">
                    <mat-card-header class="header">
                        <mat-card-title>{{model.header}}</mat-card-title>
                    </mat-card-header>
                </mat-card>
            </form>
        </div>
    </div>
    <div class="train-data">
        <p>
            {{dataToShow}}
        </p>
        <button mat-stroked-button (click)="trainModel()" class="train-btn" >Train</button>
    </div>
</div>