<div class="holder">
  <div class="network-picker">
    <h2>{{title}}</h2>
    <div class="network-option-wrapper">
      <form [formGroup]="form">
        <mat-card *ngFor="let model of models; let i = index" [ngClass]="{'selected': selected === i}" class="card"
                  (click)="select(i)">
          <mat-card-header class="header">
            <div class="card-content">
              <h3 class="left">{{model.header.ModelType}}</h3>
              <div class="middle">
                <h5>{{model.header.Name}}</h5>
              </div>
              <h1 class="right">{{model.accuracy}}%</h1>
            </div>
          </mat-card-header>
        </mat-card>
      </form>
    </div>
  </div>
  <div class="train-data" *ngIf="pageTrain else test">
    <ng-container *ngIf="errorMessage else content">
      <div class="error">
        <h1 style="color:red" >{{errorMessage}}</h1>
        <button mat-stroked-button (click)="openLiveTraining()">Show live training</button>
      </div>
    </ng-container>
    <ng-template #content>
      <div class="charts">
        <google-chart
          *ngIf="showCharts"
          [title]="'accuracy train vs test'"
          [type]="'LineChart'"
          [data]="chartData1"
          [firstRowIsData]="true"
          [columnNames]="columnNames1"
          [options]="options1"
          [dynamicResize]="true"
        >
        </google-chart>
        <google-chart
          *ngIf="showCharts"
          [title]="'loss train vs test'"
          [type]="'LineChart'"
          [data]="chartData2"
          [firstRowIsData]="true"
          [columnNames]="columnNames2"
          [options]="options2"
          [dynamicResize]="true"
        >
        </google-chart>
      </div>
      <div class="train-content" *ngIf="showCharts">
        <div class="left">
          <h4>Dataset Information</h4>
          <span *ngFor="let item of getKeys('data_header')">
                      {{item}}:&nbsp;{{dataToShow.model_info.data_header[item]}}
                    </span>
        </div>
        <div class="right">
          <h4>Model Information</h4>
          <span *ngFor="let item of getKeys('model_header')">
                    {{item}}:&nbsp;{{dataToShow.model_info.model_header[item]}}
                  </span>
        </div>
      </div>
      <button mat-stroked-button (click)="trainModel()" class="train-btn">Train</button>
    </ng-template>
  </div>
</div>


<ng-template #test>
  <div class="test-data">
    <ng-container *ngIf="errorMessage else content">
      <div class="error">
        <h1 style="color:red; align-self: center;" >{{errorMessage}}</h1>
        <button mat-stroked-button (click)="openLiveTraining()">Show live training</button>
      </div>
    </ng-container>
    <ng-template #content>
      <div class="test-content" *ngIf="showCharts">
        <div class="left">
          <h4>Dataset Information</h4>
          <span *ngFor="let item of getTestKeys('dataset_header',false)">
              {{item}}:&nbsp;{{testDataToShow.testing_session.dataset_header[item]}}
            </span>
        </div>
        <div class="right">
          <h4>Model Information</h4>
          <div>
            <h5>Training results</h5>
            <span *ngFor="let item of getTestKeys('training',true)">
                {{item}}:&nbsp;{{testDataToShow.testing_session.model_header.training[item]}}
              </span>
          </div>
          <div>
            <h5>Testing results</h5>
            <span *ngFor="let item of getTestKeys('testing',true)">
                {{item}}:&nbsp;{{testDataToShow.testing_session.model_header.testing[item] * 100}}
              %</span>
          </div>
        </div>
      </div>

      <div class="images">
        <h4 class="w-100 text-center">Dataset preview</h4>
        <div class="image-wrapper" *ngFor="let img of photos">
          <div class="image">
            <img
              src="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
          </div>
          <div class="predict-result">
            <h2>75%</h2>
          </div>
          <div class="metadata">
            <span>
              <span class="bold">Age:&nbsp;</span>
              <span>26</span>
            </span>
            <span>
              <span class="bold">Gender:&nbsp;</span>
                <span>Male</span>
            </span>
            <span>
              <span class="bold">Classified as:&nbsp;</span>
                <span>Beningn</span>
            </span>
          </div>
        </div>
      </div>
      <button mat-stroked-button (click)="trainModel()" class="train-btn">Test</button>
    </ng-template>
  </div>
</ng-template>
