@import '../../../styles.scss';

.holder{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  
  .window{
    width: 300px;
    height: 500px;
    display: flex;
    flex-flow: column wrap;
    align-self: center;
    justify-content: space-around;
    align-items: center;
    background-color: $white;

    form {
      display: flex;
      flex-flow: column wrap;

      button{
        outline: 0;
      }
    }
  }
}
