<div class="container">
  <mat-toolbar color="primary">
    <mat-icon class="icon">info</mat-icon>
    Popis projektu
  </mat-toolbar>
  <div class="text">
    Dáta sú dôležité a sú všade. Znalostí získané z dát sú využiteľné a prospešné v mnohých oblastiach života,
    medicínu nevynímajúc. Keďže dnes sa na oblasť predikčnej analytiky začína klásť čoraz väčší dôraz, je
    predpoklad, že modely vytvorené z týchto dát budú hrať čoraz väčšiu rolu. Tento projekt kladie dôraz na využitie
    modelov a metód strojového učenia, ktorá sa sústredí na oblasť predikčnej analytiky, t.j. ako s využitím dát
    vytvoriť modely, ktoré budú schopné predikovať budúci stav. Práve predikčná analytika začína hrať čoraz
    dôležitejšiu úlohu aj v oblasti medicíny. Dôvodom využívania strojového učenia v medicíne je diagnostika chorôb,
    a z toho prameniaca efektívnejšia liečba či záchrana života. Podobné modely sa začínajú aplikovať na predikciu
    rakoviny u pacientov, predikciu cukrovky či infarktu. Samotné praktické vedomosti a zručnosti, ktoré sa študenti
    na projekte naučia môžu byť aplikované a využité pre tvorbu predikčných modelov v rôznych oblastiach biznis
    prostredie nevynímajúc.
  </div>
  <mat-toolbar color="primary">
    <mat-icon class="icon">date_range</mat-icon>
    Harmonogram
  </mat-toolbar>
  <div class="text">
    <ul>
      <li>
        Teoretické východiská predikčných modelov (lineárna regresia, logistická regresia, príp. rozhodovacie stromy
        a umelé neurónové siete)
      </li>
      <li>
        Aplikácia uvedených metód a ich využitie (reálne dáta, reálny problém)
      </li>
      <li>
        Tvorba komplexného riešenia pre identifikovaný problém v medicínskej diagnostike s využitím analytiky, dát,
        programovania a modelovania.
      </li>
    </ul>
  </div>
  <mat-toolbar color="primary">
    <mat-icon class="icon">my_location</mat-icon>
    Cieľ
  </mat-toolbar>
  <div class="text">
    Využiť predikčné modelovanie pre efektívnejšiu, rýchlejšiu a presnejšiu diagnostiku vybraných chorôb v medicíne
    Naučiť študentov techniky pre získavanie znalostí z rôznych typov dát pomocou reálnych príkladov a reálnych dát
    Presvedčiť študentov o konkurenčnej výhode získanej z modelov strojového učenia v medicíne
    Študent bude tiež vedieť ako pracovať s reálnymi dátami, naučí sa využiť tieto dáta a znalostí z nich získané v
    podnikovej informatike a biznis sfére.
  </div>
  <mat-toolbar color="primary">
    <mat-icon class="icon">group_add</mat-icon>
    Členovia projektu
  </mat-toolbar>
  <div class="text">
    <table>
      <tr>
        <th>Garant</th>
        <th></th>
      </tr>
      <tr>
        <td>Ing. Lukáš Falát PhD.</td>
        <td>
          <a href="mailto:lukas.falat@fri.uniza.sk" target="_blank">
            <mat-icon color="primary" class="pointer">
              mail_outline
            </mat-icon>
          </a>
        </td>
      </tr>
      <tr>
        <th>Študenti na projekte</th>
        <th></th>
      </tr>
      <tr>
        <td>Bc. Branislav Tomka</td>
        <td>
          <a href="mailto:tomkabranislav402@gmail.com" target="_blank">
            <mat-icon color="primary" class="pointer">
              mail_outline
            </mat-icon>
          </a>
        </td>
      </tr>
      <tr>
        <td>Bc. Jakub Šarina</td>
        <td>
          <a href="mailto:sarinajakub@gmail.com" target="_blank">
            <mat-icon color="primary" class="pointer">
              mail_outline
            </mat-icon>
          </a></td>
      </tr>
      <tr>
        <td>Bc. Matej Kotora</td>
        <td>
          <a href="mailto:matej.kotora96@gmail.com" target="_blank">
            <mat-icon color="primary" class="pointer">
              mail_outline
            </mat-icon>
          </a></td>
      </tr>
      <tr>
        <td>Bc. Milan Majchrák</td>
        <td>
          <a href="mailto:milan.majchrak1@gmail.com" target="_blank">
            <mat-icon color="primary" class="pointer">
              mail_outline
            </mat-icon>
          </a></td>
      </tr>
      <tr>
        <td>Bc. Miloš Foltán</td>
        <td>
          <a href="mailto:foltan.milosml@gmail.com" target="_blank">
            <mat-icon color="primary" class="pointer">
              mail_outline
            </mat-icon>
          </a></td>
      </tr>
      <tr>
        <td>Bc. Štefan Leitner</td>
        <td>
          <a href="mailto:leitner3@fri.uniza.sk" target="_blank">
            <mat-icon color="primary" class="pointer">
              mail_outline
            </mat-icon>
          </a></td>
      </tr>
    </table>
  </div>
  <mat-toolbar color="primary">
    <mat-icon class="icon">menu_book</mat-icon>
    Literatúra
  </mat-toolbar>
  <div class="text">
    <ul>
      <li>J. Chajdiak a kol.: Štatistické metódy v praxi, Bratislava: Statis, 1994</li>
      <li>M. Marček: Viacnásobná štatistická analýza dát a modely časových radov v ekonómii, 2003</li>
      <li>D. Marček, M. Marček, L. Pančíková: Ekonometria a soft computing, EDIS, Žilinská univerzita, Žilina,
        Slovakia, 2008</li>
      <li>D. Marček, Umelé neurónové siete a aplikácie, EDIS, Žilinská univerzita, Žilina, 2006.</li>
      <li>A. Field, J. Miles, Z. Field: Discovering Statistics Using R, Sage Publications Ltd, 2012</li>
      <li>James, G., Witten, D., Hastie, T. (2013). An Introduction to Statistical Learning: with Applications in R,
        Springer.</li>
      <li>Bertsimas, D., Freund, R. (2004). Data, Models, and Decisions: The Fundamentals of Management Science,
        Dynamic Ideas.</li>
      <li>Lander, J. (2013). R for Everyone: Advanced Analytics and Graphics, Addison-Wesley.</li>
      <li>Sorensen, H., Ekstrom, C. T. (2014). Introduction to Statistical Data Analysis for the Life Sciences,
        Second Edition, Chapman and Hall.</li>
    </ul>
  </div>
</div>