<div class="holder">
  <div class="login">
    <h2>Login</h2>
    <form [formGroup]="loginForm">
      <mat-form-field class="example-full-width">
        <input matInput type="text" class="input-holder" placeholder="username" formControlName="username">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input class="inputHolder" type="password" matInput placeholder="pass" formControlName="pass">
      </mat-form-field>
      <button mat-raised-button (click)="submitForm()" >Log In</button>
    </form>
  </div>
</div>
