.exp-panel {
  /* border: 1px solid #2196f3; */
}

.exp-panel-head {
  background-color: #2196f3 !important;
}
.exp-panel-head:hover {
  background-color: #2196f3 !important;
}

.text-color {
  color: white !important;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

input[type="file"] {
  display: none;
}

.model {
  /* border: 1px solid #2196f3; */
  /* border-radius: 5px; */
  display: inline-block;
  height: 200px;
  margin: 10px;
  overflow: hidden;
  padding: 15px;
  width: 200px;
}

.cam-btn {
  margin-left: 10px !important;
  margin-right: 10px !important;
  width: 140px;
}

.uploaded {
  width: 320px;
}

.cropped {
  margin-top: 10px;
  width: 64px;
}

/* @import '../../../styles.scss';

.predict-page{
    display: flex;
    justify-self: stretch;
    align-self: stretch;
    flex: 1;
    max-height: 100%;
    max-width: 100%;

    h1{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        background-color: $dark-blue-header;

    }
    
    .predict-content-wrapper {
        display: flex;
        flex-flow: row wrap;
        flex: 1;
        justify-self: stretch;
        height: 100%;
        justify-content: flex-start;

        mat-tab-group {
            padding: 10px;
            // width: 25%;
            margin-right: 6px;
            -webkit-border-radius: 25px !important;
            -moz-border-radius: 25px !important;
            border-radius: 25px !important;
            background-color: $dark-blue-header;
            border: 2px solid $orange-border;

            .mat-tab-labels {
              background-color: $dark-blue-header !important;
            }

            .mat-tab-label:not(.mat-tab-disabled){
              color: $white !important;
              opacity: 1 !important;
            }

            .mat-tab-label-content {
              color: rgba($white,1) !important;
            }

            .mat-ink-bar {
              background-color: $orange-header;
            }
        }

        .hide{
          display: none;
        }

        .selected {
            // background-color: gray !important;
            color: rgba($color: #000000, $alpha: 1.0);
            border: 1px solid rgba($color: #000000, $alpha: 1.0);
        }
        
        .network-picker {
            margin-right: 6px;
            display: flex;
            overflow-y: auto !important;
            flex-flow: column nowrap !important;
            flex: 0 1 25%;
            justify-content: flex-start;
            background-color: $dark-blue-header;
            border: 2px solid $orange-border;
            border-radius: 20px;
            padding: 0 0 10px 0;
            align-content: flex-start;
            text-align: center;
            max-height: 100%;

            .header-models {
              border-radius: 20px;
              background-color: $orange-header;
              padding: 0;
              margin-top: -2px;
            }



            .network-option-wrapper {
                display: flex;
                flex-flow: column wrap;

                & > *:not(:first-child) {
                  margin: 0 1rem;
                }

                .card {
                    border: 0 !important;

                    .header {
                        display: flex;
                        .card-content {
                            display: flex;
                            flex: 1;
                            .left {
                              display: flex;
                              flex-flow: column wrap;
                              align-content: center;
                              justify-content: center;
                              flex: 1;
                            }

                            .middle {
                              display: flex;
                              flex-flow: column wrap;
                              align-content: center;
                              justify-content: center;
                              flex: 3;
                            }

                            .right {
                              display: flex;
                              flex-flow: column wrap;
                              align-content: center;
                              justify-content: center;
                              flex: 1;
                            }
                        }
                    }
                }
                .selected {
                  border: 2px solid $orange-border !important;
                  border-radius: 20px !important;
                  color: $white;
                }
            }
        }

        .result-wrapper {
            display: flex;
            flex: 1;
            justify-self: stretch;
            align-self: stretch;


            .results {
                display: flex;
                flex: 1;
                background-color: $dark-blue-header;
                border: 2px solid $orange-border;
                border-radius: 20px;
                color: $white;
                flex-direction: column;
                padding: 1.2rem;


                .warning {
                    display: flex;
                    flex-flow: column wrap;

                    h2 {
                        color: red;
                    }
                }

                .image {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-around;
                    align-items: center;
                    img {
                      max-height: 300px;
                    }
                }
            }
        }
    

        
        
        .camera{
            display: flex;
            flex-flow: column wrap;
            flex: 1 1 500px;
            justify-content: space-around;

        }
        

        .btn-wrapper{
            display: flex;
            flex-flow: row;
            justify-content: center;
        }

        .filepicker{
            display: flex;
            flex-flow: column wrap;
            height: 500px;
            justify-content: space-around;
            .filepicker-wrapper{
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
                img{
                    max-height: 300px;
                }
                .image-cropper {
                  width: 250px;
                  height: 250px;
                }
                .cropp {
                  justify-content: center;
                }
            }
        }
    }

}
 */