@import '../../../styles.scss';

.page{
    display: flex;
    justify-self: stretch;
    align-self: stretch;
    flex: 1;
    max-height: 100%;
    max-width: 100%;

    h1{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        background-color: $white;

    }
    
    .predict-content-wrapper {
        display: flex;
        flex-flow: row wrap;
        flex: 1;
        justify-self: stretch;
        height: 100%;
        justify-content: flex-start;

        mat-tab-group {
            padding: 10px;
            background-color: $white;
            width: 25%;
            margin-right: 6px;
        }

        .selected {
            // background-color: gray !important;
            color: rgba($color: #000000, $alpha: 1.0);
            border: 1px solid rgba($color: #000000, $alpha: 1.0);
        }

        .network-picker {
            margin-right: 6px;
            display: flex;
            overflow-y: auto !important;
            flex-flow: column nowrap !important;
            flex: 0 1 25%;
            justify-content: flex-start;
            background-color: white;
            padding: 10px;
            align-content: flex-start;
            text-align: center;
            max-height: 100%;
            
            .network-option-wrapper {
                display: flex;
                flex-flow: column wrap;

                .card {
                    margin-top: 10px;
                    .header {
                        display: flex;
                        .card-content {
                            display: flex;
                            flex: 1;
                            .left {
                              display: flex;
                              flex-flow: column wrap;
                              align-content: center;
                              justify-content: center;
                              flex: 1;
                            }

                            .middle {
                              display: flex;
                              flex-flow: column wrap;
                              align-content: center;
                              justify-content: center;
                              flex: 3;
                            }

                            .right {
                              display: flex;
                              flex-flow: column wrap;
                              align-content: center;
                              justify-content: center;
                              flex: 1;
                            }
                        }
                    }
                }
            }
        }

        .result-wrapper {
            display: flex;
            flex: 1;
            justify-self: stretch;
            align-self: stretch;

            .results {
                display: flex;
                flex: 1;
                background-color: white;
                flex-direction: column;


                .warning {
                    display: flex;
                    flex-flow: column wrap;

                    h2 {
                        color: red;
                    }
                }

                .image {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-around;
                    align-items: center;
                    img {
                      max-height: 300px;
                    }
                }
            }
        }
    

        
        
        .camera{
            display: flex;
            flex-flow: column wrap;
            flex: 1 1 500px;
            justify-content: space-around;

        }
        

        .btn-wrapper{
            display: flex;
            flex-flow: row;
            justify-content: center;
        }

        .filepicker{
            display: flex;
            flex-flow: column wrap;
            height: 500px;
            justify-content: space-around;
            .filepicker-wrapper{
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
                img{
                    max-height: 300px;
                }
            }
        }
    }

}
