<div class="page">
  <div class="predict-content-wrapper">
    <div class="network-picker">
      <div class="network-option-wrapper">
        <h3>Choose model</h3>
        <mat-card *ngFor="let model of models; let i = index" [ngClass]="{'selected': selected === i}" class="card" (click)="select(i)">
          <mat-card-header class="header">
            <mat-card-title>{{model.header}}</mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
    <mat-tab-group dynamicHeight>
      <mat-tab label="Create Photo">  
        <div class="camera">
          <app-ack-webcam (imageDone)="onImageCreate($event)"></app-ack-webcam>
          <div class="btn-wrapper">
            <button mat-stroked-button (click)="takePhoto()">Take Photo</button>
            <button mat-stroked-button [disabled]="!this.form.valid" (click)="predict()">Submit</button>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Load Photo">
          <div class="filepicker">
            <div class="filepicker-wrapper">
            <input type="file" accept="image/*" (change)="onFilePick($event)">
            <img *ngIf="image" [src]="image" alt="preview">
          </div>  
          <div class="btn-wrapper">
              <button mat-stroked-button [disabled]="!this.form.valid" (click)="predict()">Submit</button>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
    <div class="result-wrapper">
      <div class="results" *ngIf="canShowResults()">

      </div>
    </div>
  </div>
</div>