<div class="page">
  <div class="predict-content-wrapper">
    <div class="network-picker">
      <div class="network-option-wrapper">
        <h2 class="w-100 text-center header-models">Models</h2>
        <mat-card *ngFor="let model of models; let i = index" [ngClass]="{'selected': selected === i}" class="card" (click)="select(i)">
          <mat-card-header class="header">
            <div class="card-content">
              <h3 class="left">{{model.header.ModelType}}</h3>
              <div class="middle">
                <h5>{{model.header.Name}}</h5>
              </div>
              <h1 class="right">{{model.accuracy}}%</h1>
            </div>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
    <mat-tab-group dynamicHeight>
      <mat-tab label="Create Photo">  
        <div class="camera">
          <app-ack-webcam (imageDone)="onImageCreate($event)"></app-ack-webcam>
          <div class="btn-wrapper">
            <button mat-stroked-button (click)="takePhoto()">Take Photo</button>
            <button mat-stroked-button [disabled]="!this.form.valid" (click)="predict()">Submit</button>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Load Photo">
        <div class="filepicker">
          <div class="filepicker-wrapper">
          <input type="file" accept="image/*" (change)="onFilePick($event)">
          <img *ngIf="image" [src]="image" alt="preview">
        </div>
        <div class="btn-wrapper">
            <button mat-stroked-button [disabled]="!this.form.valid" (click)="predict()">Submit</button>
        </div>
      </div>
      </mat-tab>
    </mat-tab-group>
    <div class="result-wrapper">
      <div class="results" *ngIf="canShowResult">
        <div class="warning">
          <h2>{{predictionResult.prediction_info}}</h2>
        </div>
        <div class="image">
          <div  class="left">
            <h3 *ngFor="let col of getResults()">{{col}}:&nbsp;{{predictionResult[col]}}</h3>
          </div>
          <img [src]="image">
        </div>
        <div>
          <span *ngFor="let item of getMetadata()">
            {{item}}:&nbsp;{{predictionResult.metadata[item]}}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
