
.dropdown-menu{
    background-color: #26243A !important;

    .dropdown-item{
        color: white !important;
        background-color: #26243A !important;
        cursor: pointer;

        &:active{
          border: 2px solid #A46934 !important;
          border-radius: 20px;
        }
    }
}

.bg-dark {
  background-color: #26243A !important;
}
.nav-link{
    cursor: pointer;
    color: white !important;
    outline: 0;
    font-size: 1.3rem;
    font-family: 'Cabin Sketch', cursive;
    text-transform: uppercase;
    margin: 0;
}
.active{
  border: 2px solid #A46934 !important;
  border-radius: 20px;
}
