<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <p routerLink="/predict" routerLinkActive="active" class="nav-link">Predict</p>
      </li>
      <li class="nav-item">
        <p routerLink="/training-session" routerLinkActive="active" class="nav-link">Training session</p>
      </li>
      <li class="nav-item">
        <p routerLink="/testing-session" routerLinkActive="active" class="nav-link">Testing session</p>
      </li>
      <li class="nav-item"  *ngIf="auth.isLoggedIn() else staticModels">
        <p routerLink="/my-models" routerLinkActive="active" class="nav-link">Show my models</p>
      </li>
      <ng-template #staticModels>
        <li class="nav-item">
            <p routerLink="/model" routerLinkActive="active" class="nav-link">Show static models</p>
        </li>
      </ng-template>
      <li class="nav-item dropdown">
        <p
          href="#"
          class="nav-link dropdown-toggle"
          id="dataset-dropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          Dataset
      </p>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <p routerLink="/dataset/show" routerLinkActive="active" class="dropdown-item">Dataset preview</p>
          <p routerLink="/dataset/new" routerLinkActive="active" class="dropdown-item">New dataset</p>
        </div>
      </li>
      <li class="nav-item"  *ngIf="auth.isLoggedIn()">
          <p routerLink="/new-model" routerLinkActive="active" class="nav-link">Create model</p>
        </li>
      <li class="nav-item">
        <p routerLink="/about" routerLinkActive="active" class="nav-link">About</p>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <div *ngIf="!auth.isLoggedIn() else loggedIn">
        <li class="nav-item">
          <p class="nav-link" id="login" routerLink="/login" routerLinkActive="active">Log in</p>
        </li>
      </div>
      <ng-template #loggedIn>
          <li class="nav-item">
            <p class="nav-link" id="username">{{auth.username}}</p>
          </li>
          <li class="nav-item" >
            <p class="nav-link" id="logout" (click)="auth.logout()">Log out</p>
          </li>
      </ng-template>
    </ul>
  </div>
</nav>
