@import './styles/material-theme';

html, body {
    margin: 0;
    height: 100%;
}

@media only screen and (max-width: 600px)  {
    html {
      font-size: 80%;
    }
}

.container {
    margin-top: 20px;
}

.full-width {
    width: 100%;
}

.align-center {
    text-align: center;
}

.marg-top-10 {
    margin-top: 10px;
}

.icon {
    margin: 5px;
}

.pointer:hover {
    cursor: pointer;
}

/* $white-half: rgba(#ffffff, 0.5);
$white: white;
$light-gray: #b9b3b3;
$very-light-gray: #eee;
$gray: rgba(242, 241, 239, 1);
$black: #343a40;
$dark-ocean-blue-surround: #262a6e;
$orange-border: #A46934;
$dark-blue-content: #2e5182;
$dark-blue-cards: #32367a;
$dark-blue-header: #26243A;
$dark-blue-header-half: #262755;
$orange-header: #d47c2c;
$content-color: #0d2f94;
$content-font-color: #116b9f;
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

 */

/*
body{
    width: 100vw !important;
    height: 100vh !important;
    min-height: 100vh !important;
    min-width:  100vw !important;
    max-height: 100vh !important;
    max-width:  100vw !important;
    background-color: $dark-ocean-blue-surround !important;
    overflow-x: auto;
    overflow-y: auto;

  .override{
        display: flex;
        height: calc(100% - 100px);
        padding-top: 10px;
        background-color: $dark-ocean-blue-surround;

        & > *:not(router-outlet){
            display: flex;
            flex-flow: column wrap;
            flex: 1;
            justify-self: stretch;
            align-self: stretch;
        }
    }

    .mat-horizontal-content-container{
        background-color: $gray !important;
        margin-top: 6px !important;
        padding: 0;
    }

    .stepper-step-height{
        height: calc(100vh - 195px);
    }

    .layerClassPicker div.mat-select-arrow-wrapper{
        display: none;
        width: 0;
        height: 0;
    }

    .layerClassPicker .mat-select{
        display: inline;
    }

    .outline-0{
        outline: 0;

        &:focus-within{
            outline: 0;
        }
    }

    .center{
        margin: 0 auto;
    }

    .center-flex{
        justify-self: center;
        align-self: center;
    }

    .option-header{
        color: black !important;
        font-size: 1.1rem;
        font-weight: bold;
    }

    .mat-card {
      color: $white !important;
      background-color: $dark-blue-header !important;
    }

    h2{
      color: $white;
      font-family: 'Cabin Sketch', cursive !important;
      font-size: 3rem;
    }

    .mat-raised-button{
      background-color: $orange-header !important;
      color: $white !important;
    }

    .mat-card{
      box-shadow: none !important;
      cursor: pointer;
    }
} */
