<div class="cards-wrapper">
  <div class="left">
    <h2 class="w-100 text-center header-models">Models</h2>
    <mat-card *ngFor="let model of models; let i = index" [ngClass]="{'selected': selected === i}" (click)="select(i)">
      <mat-card-header class="header">
        <div class="card-content">
          <h3 class="left">{{model.header.ModelType}}</h3>
          <div class="middle">
            <h5>{{model.header.Name}}</h5>
          </div>
          <h1 class="right">{{model.accuracy}}%</h1>
        </div>
      </mat-card-header>
    </mat-card>
  </div>
  <div class="right p-3">
    <div *ngIf="selectedObj" class="content">
      <div class="model-info">
        <h4>Model Info</h4>
        <span>Accuracy: {{selectedObj.model_header.Accuracy}}%</span>
        <span>Name: {{selectedObj.model_header.Name}}</span>
        <span>Type: {{selectedObj.model_header.ModelType}}</span>
        <span>Optimizer: {{selectedObj.layers.optimizer}}</span>
        <span>Metrics: {{selectedObj.layers.metrics}}</span>
        <span>Loss: {{selectedObj.layers.loss}}</span>
        <span>Dataset name: {{selectedObj.data_header.DatasetUsed}}</span>
        <span>Photo count: {{selectedObj.data_header.CountPhoto}}</span>
        <span>Photo size: {{selectedObj.data_header.PhotoSize}}</span>
        <span>Dataset description: {{selectedObj.data_header.DatasetDesc}}</span>
      </div>
      <div class="layer-info" >
        <div class="info">
          <h4>Layer Info</h4>
          <div *ngIf="selectedLayer > -1" class="info-content">
            <span>Layer Number: {{selectedLayer + 1}}</span>
<!--            <span class="image-with-label">Input image dimension:-->
<!--              <div class="image">-->
<!--                <span class="x">{{selectedLayerObj.inputSizeX}}</span>-->
<!--                <div class="bottom">-->
<!--                  <span class="y">{{selectedLayerObj.inputSizeY}}</span>-->
<!--                  <div class="rectangle">-->
<!--                      <div class="rec-row">-->
<!--                        <div class="rec-col"></div>-->
<!--                        <div class="rec-col"></div>-->
<!--                      </div>-->
<!--                      <div class="rec-row">-->
<!--                        <div class="rec-col"></div>-->
<!--                        <div class="rec-col"></div>-->
<!--                      </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </span>-->
            <span class="image-with-label">kernel dimension:
              <div class="image">
                <span class="x">{{getKernelSize()[0]}}</span>
                <div class="bottom">
                  <span class="y">{{getKernelSize()[1]}}</span>
                  <div class="rectangle">
                    <div class="rec-row">
                      <div class="rec-col"></div>
                      <div class="rec-col"></div>
                    </div>
                    <div class="rec-row">
                      <div class="rec-col"></div>
                      <div class="rec-col"></div>
                    </div>
                  </div>
                </div>
              </div>
            </span>
            <span>Padding: {{this.selectedLayerObj?.PADDING}}</span>
            <span>Activation function: {{this.selectedLayerObj?.ACTIVATION}}</span>
            <span>Neuron count: {{this.selectedLayerObj?.NEURON_COUNT}}</span>
            <span>Name: {{this.selectedLayerObj?.Name}}</span>
            <span>Class: {{this.selectedLayerObj?.class}}</span>
          </div>
        </div>
        <div class="layer-selector">
          <h4>Layer Selection</h4>
          <div class="selection-row p-3">
            <div 
              *ngFor="let layer of selectedObj.layers.layers; let i = index"
              [ngStyle]="getStyle(i)"
              class="layer"
              [ngClass]="{selected: selectedLayer === i}"
              (click)="selectLayer(i)"
              #tooltip="matTooltip"
              [matTooltip]="getText(i)"
              (mouseenter)="tooltip.show()"
              (mouseleave)="tooltip.hide()"
              ></div>
          </div>
        </div>
      </div>
      <div class="bottom" *ngIf="loggedUser() else notLogged">
        <button mat-raised-button (click)="goToPage('/training-session')">Train model</button>
        <button mat-raised-button (click)="goToPage('/testing-session')">Test model</button>
        <button mat-raised-button (click)="goToPage('/predict')">Predict</button>
        <button mat-raised-button >Set as Default</button>
      </div>
      <ng-template #notLogged>
        <div class="bottom">
          <button mat-raised-button (click)="goToPage('/training-session')">Show Train model</button>
          <button mat-raised-button (click)="goToPage('/testing-session')">Show Test model</button>
          <button mat-raised-button (click)="goToPage('/predict')">Predict</button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
