@import '../../../styles.scss';

.cards-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    padding-bottom: 1rem;
    .left {
        display: flex;
        flex-flow: column wrap;
        flex-basis: 40%;
        
        & > *{
            margin-top: 5px;

            &:hover{
                background-color: $light-gray;
            }
        }

        .header {
            display: flex;
            justify-content: space-around;

        }
        
        .selected {
            background-color: gray !important;
        }
    }

    .right {
        display: flex;
        flex-flow: column wrap;
        flex: 1 1 0;
        align-self: stretch;
        background-color: $white;
        margin-left: 5px;

        .content{
            display: flex;
            flex-flow: column wrap;
            align-content: flex-start;
            flex: 1;

            .model-info{
                display: flex;
                flex-flow: row wrap;
                padding: 1rem;
                justify-content: space-between;

                & > * {
                    display: inline-block;
                    min-width: 50%;
                }

                :nth-child(1){
                    width: 100%;
                }
            }

            .layer-info{
                display: flex;
                flex-flow: row wrap;
                flex: 1;
                justify-content: flex-start;

                .layer-selector{
                    display: flex;
                    flex-flow: column wrap;
                    flex: 1 1 auto;

                    .selection-row{
                        position: relative;
                        margin-top: 20px;
                        width: 100%;
                        height: 50%;

                        .layer:hover{
                            background-color: rgba(255, 255, 255, 1) !important;
                            border: 1px solid black;
                        }
                        
                        .selected{
                            border: 1px solid black;
                        }
                    }
                }

                .info{
                    display: flex;
                    flex-flow: column wrap;
                    flex: 1 1 auto;

                    .info-content{
                      display: flex;
                      flex-flow: column wrap;
                    }

                    .image-with-label{
                        display: flex;
                        align-items: center;

                        .image{
                            margin-left: 10px;  
                            display: flex;
                            justify-content: flex-end;
                            flex-flow: row wrap;
                            flex: 0 0 80px;
                
                            .x {
                                display: flex;
                                flex: 0 0 50px;
                                flex-flow: row wrap;
                                justify-content: center;
                            }
                            .bottom{
                                display: flex;
                                flex-flow: row wrap;
                                flex: 0 0 100%;
                                .y {
                                    display: flex;
                                    flex: 1;
                                    align-items:center; 
                                }
                
                                .rectangle{
                                    width:50px;
                                    height: 40px;
                                    border: 1px solid black;
                                    display: flex;
                                    flex-flow: column wrap;
                                    flex-grow: 0;
                
                                    .rec-row:nth-child(1){
                                        border-bottom: 1px solid black;
                                    }
                
                                    .rec-row{
                                        display: flex;
                                        flex-flow: row wrap;
                                        flex: 1 0 50%;
                
                                        .rec-col:nth-child(1){
                                            border-right: 1px solid black;
                                        }
                
                                        .rec-col{
                                            display: flex;
                                            flex-flow: row wrap;
                                            flex: 1 0 50%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .bottom{
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                
                & > * {
                    outline: 0;
                    margin-right: 10px;

                    &:last-child {
                        margin: 0;                    }
                }
            }
        }
       
    }
}
